<% layout('layouts/boilerplate') %>
<form action="/register" class="to-validate" novalidate method="POST">
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" required>
    <div class="invalid-feedback">
      Please provide a username.
    </div>
    <div class="valid-feedback">
      Looks good now!
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Email Address</label>
    <input class="form-control" type="email" name="email" id="email" required>
    <div class="invalid-feedback">
      Please provide an email address.
    </div>
    <div class="valid-feedback">
      Looks good now!
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <div class="invalid-feedback">
      Please provide a password.
    </div>
    <div class="valid-feedback">
      Looks good now!
    </div>
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>